/* General styles and overrides */
:root {
    --light-background: #efefef;
}

body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 400px;
}

main {
    padding: 2rem;
    width: 100%;
}

main > section {
    display: none;
}

main > section:first-of-type {
    display: block;
}

.block-btn {
    border: 0;
    font-weight: 600;
    display: block;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 5px;
}

.statement-gradient {
    background: linear-gradient(30deg, #1763d4, #30a6f0);
    background-clip: text;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
}

section h1 {
    font-weight: 600;
    line-height: 1.1;
    font-size: 30px;
    margin-top: 0;
}

section h3 {
    font-weight: 600;
    line-height: 1.1;
}

section p {
    color: #808080;
    line-height: 1.4;
}

/* section: welcome */
#section-welcome .button-vertical-group {
    margin-top: 40px;
}

#section-welcome p:first-of-type {
    margin-top: 20px;
}

#section-welcome .button-vertical-group > button + button {
    background-color: transparent;
    font-weight: 600;
    display: block;
    width: 100%;
}

/* section: input word choices */
#section-choice .horizontal-form-row > input {
    border: none;
    margin-right: 10px;
    background-color: var(--light-background);
    font-weight: 500;
    flex: 2;
    box-shadow: none;
    font-size: 16px;
    padding: 8px 15px;
}

#section-choice .horizontal-form-row > button:last-child {
    font-weight: 600;
    border: none;
    padding: 0;
    border-radius: 100%;
}

#section-choice .horizontal-form-row > button > span {
    width: 40px;
    line-height: 1;
    display: block;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top: -2px;
}

#section-choice .horizontal-form-row {
    margin-bottom: 10px;
    display: flex;
}

#selection-choice #button-finish-setup {
    margin-top: 30px;
}

#section-choice > .filter-container {
    margin-bottom: 10px;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

#section-choice > .filter-container > .container-words {
    margin-bottom: 10px;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

#section-choice > .filter-container > .container-words > .word-container {
    background-color: var(--light-background);
    border-radius: 0.5rem;
    margin-bottom: 7px;
    padding: 8px 15px;
    width: 100%;
    color: black;
    display: flex;
    justify-items: stretch;
    justify-content: space-between;
    cursor: default;
}

#section-choice > .filter-container > .container-words > .word-container > .remove-icon-container > i {
    cursor: pointer;
    color: #b2b2b2;
    transition: color 0.1s linear;
}

#section-choice > .filter-container > .container-words > .word-container > .remove-icon-container > i:hover {
    color: #313131;
}

/* section: catagories */
#section-catagories .horizontal-form-row > input {
    border: none;
    margin-right: 10px;
    background-color: var(--light-background);
    font-weight: 500;
    flex: 2;
    box-shadow: none;
    font-size: 16px;
    padding: 8px 15px;
}

#section-catagories .horizontal-form-row > button:last-child {
    font-weight: 600;
    border: none;
    padding: 0;
    border-radius: 100%;
}

#section-catagories .horizontal-form-row > button > span {
    width: 40px;
    line-height: 1;
    display: block;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top: -2px;
}

#section-catagories .horizontal-form-row {
    margin-bottom: 10px;
    display: flex;
}

#selection-catagories #button-finish-setup {
    margin-top: 30px;
}

#section-catagories > .container-words {
    margin-bottom: 10px;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

#section-catagories > .container-words > .word-container {
    background-color: var(--light-background);
    border-radius: 0.5rem;
    margin-bottom: 7px;
    padding: 8px 15px;
    width: 100%;
    color: black;
    display: flex;
    justify-items: stretch;
    justify-content: space-between;
    cursor: default;
}

#section-catagories > .container-words > .word-container > .remove-icon-container > i {
    cursor: pointer;
    color: #b2b2b2;
    transition: color 0.1s linear;
}

#section-catagories > .container-words > .word-container > .remove-icon-container > i:hover {
    color: #313131;
}

/* section: controls */
#section-controls p:not(:first-of-type) {
    font-size: 13px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}