.redacted {
    color: black;
    background-color: black;
    white-space: nowrap;
    transform: rotate(0.8deg) skewx(-12deg);
    box-shadow: 3px 0 2px #444;
    border: 1px dotted #555;
    background: -moz-linear-gradient(180deg, #000, #222);
    position: relative;
  }
  
  .redacted:hover::before {
    content: attr(data-word);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
    top: -25px;
    left: 0;
  }
  
  /* Highlight effect */
  .redacted::-moz-selection {
    background: #e6ff3f;
  }
  